<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="img">

    <select id="queryImgsForType" parameterType="String" resultMap="imgInfoMap">
        SELECT
            img_code,
            img_name,
            img_type,
            img_order,
            img_path,
            img_remark,
            aos_effect
        FROM
            img_info
        WHERE
            img_type = #{imgType}
        ORDER BY
            img_order
    </select>

    <resultMap id="imgInfoMap" type="com.lucg.ssmf.entity.img.ImgInfoEntity">
        <result property="id" column="id"></result>
        <result property="imgCode" column="img_code"></result>
        <result property="imgName" column="img_name"></result>
        <result property="imgType" column="img_type"></result>
        <result property="imgOrder" column="img_order"></result>
        <result property="imgPath" column="img_path"></result>
        <result property="imgRemark" column="img_remark"></result>
        <result property="aosEffect" column="aos_effect"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

</mapper>