@CHARSET "UTF-8";

html,body,div,ul,li,ol,dl,dt,dd,p,img,span,input,select,em,h1,h2,h3,h4,h5,h6 {
	margin: 0; padding: 0; border: 0;
}

body {
	/*font-family: 'goodNight';*/
	font-size: 16px; color: #212121;
}

@font-face {
	font-family: 'goodNight'; src: url('../../font/goodNight.ttf');
}

blockquote,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	margin:0;
	padding:0;
}

a,a:visited {
	color:#333;
	text-decoration:none;
}

a:link {
	text-decoration:none;
}

a:hover,a:active {
	color:#777;
	text-decoration:none;
}

li {
	list-style: none;
}

button, input, optgroup, option, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	border-radius: 0!important;
}

.bg-red {
	background-color:#FF5722!important;
}

.bg-orange {
	background-color:#FFB800!important;
}

.bg-green {
	background-color:#009688!important;
}

.bg-cyan {
	background-color:#2F4056!important;
}

.bg-blue {
	background-color:#1E9FFF!important;
}

.bg-black {
	background-color:#393D49!important;
}

.bg-gray {
	background-color:#eee!important;
	color:#666!important;
}

.ml5{
	margin-left: 5px!important;
}

.ml10{
	margin-left: 10px!important;
}

.ml40{
	margin-left: 40px!important;
}

.mt5{
	margin-top: 5px!important;
}

.mt10{
	margin-top: 10px!important;
}

.mr10{
	margin-right: 10px!important;
}

.ml01{
	margin-left: -10px!important;
}

.w-15{
	width: 15px!important;
}

.w-30{
	width: 30px!important;
}

.w-60{
	width: 60px!important;
}

.w-120{
	width: 120px!important;
}

.w-240{
    width: 240px!important;
}

.div-ct{
	margin:0 auto;
	text-align:center;
}

.form-horizontal .control-label{
	float: left;
	width: 100px;
	text-align: right;
	padding-top: 7px;
}

.form-horizontal label{
	font-weight: normal;
}

.form-control{
	border-radius: 0!important;
}

.common-table {
	width: 100%;
	/*background-color: #fff;*/
	color: #666;
	margin: 10px 0;
}

/*分页*/
.pages {
	float: right; padding-bottom: 10px; padding-right: 3px;
}

.pages a,.pages a:visited,.pages span,.pages div {
	position: relative; display: inline; float: left; margin-right: 4px; color: #333; font-size: 12px;
}

.pages span {
	font-size: 12px;
}

.pages div {
	line-height: 24px; padding-left: 30px; overflow: hidden;
}

.pages a,.pages a:visited {
	height: 24px; line-height: 24px; padding: 0 8px; text-align: center; background: #fff; border: 1px solid #d7d7d7; border-radius: 4px 4px 4px 4px;
}

.pages a.current {
	color: #f60;
}

.pages a.current:visited {
	_color: #f60;
}

.pages a.prev,.pages a.next,.pages a.prev,.pages a.next:visited {
	display: inline-block; width: 68px; height: 24px; line-height: 24px; line-height: 28px\9; _line-height: 24px; padding: 0; overflow: hidden;
}

.pages a.prev,.pages span.prev {
	text-indent: 6px;
}

.pages a.next,.pages span.next {
	text-indent: -6px;
}

.pages span.prev,.pages span.next {
	display: inline; float: left; width: 68px; height: 24px; line-height: 24px; line-height: 28px\9; _line-height: 24px; color: #b1b1b1; text-align: center; background: #fff; border: 1px solid #d7d7d7; border-radius: 4px 4px 4px 4px;
}

.pages b {
	position: absolute; width: 0; height: 0; line-height: 0; margin-top: -2px; + margin-top: -3px; font-size: 0; border-width: 5px; border-style: solid; border-color: #fff #333 #fff #fff;
}

.pages a.prev b {
	left: 1px; top: 10px;
}

.pages a.next b {
	right: 1px; top: 10px; border-color: #fff #fff #fff #333;
}

.pages span.prev b {
	left: 1px; top: 10px; border-color: #fff #b1b1b1 #fff #fff;
}

.pages span.next b {
	right: 1px; top: 10px; border-color: #fff #fff #fff #b1b1b1;
}

.pages div input {
	width: 32px; height: 24px; line-height: 24px; margin: 0 3px; text-align: center; + vertical-align: middle; border: 1px solid #d7d7d7;
}

.pages div input.pagesubmit {
	cursor: pointer; width: 45px; height: 26px; color: #333; line-height: 26px; _line-height: 20px; background: #fff; border-radius: 4px 4px 4px 4px;
}

.pages a:hover {
	color: #f60;
}

.changePage .pages li {
	float: left;
}

/* 警告字体 */
.text-danger {
	color: #ff002a!important;
}

/* Loader */
.preloaderjs .spinner {
	display: none !important;
}

.preloaderjs#page-preloader {
	background: rgba(46, 46, 46, 0.99) !important;
}

#page-preloader {
	position: fixed; z-index: 100500; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: #ffffff;
}

#page-preloader .spinner {
	position: absolute; z-index: 1001; top: 50%; left: 50%; display: block; width: 100px; height: 100px; margin-top: -50px; margin-left: -50px; -webkit-animation: spin 2.5s infinite linear; animation: spin 2.5s infinite linear; border: 3px solid transparent; border-top-color: #01a664; border-radius: 50% !important;
}

#page-preloader .spinner:before,#page-preloader .spinner:after {
	position: absolute; content: ''; border-radius: 50%;
}

#page-preloader .spinner:before {
	top: 5px; right: 5px; bottom: 5px; left: 5px; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; border: 3px solid transparent; border-top-color: #e24545;
}

#page-preloader .spinner:after {
	top: 15px; right: 15px; bottom: 15px; left: 15px; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; border: 3px solid transparent; border-top-color: #ffff00;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}