
@font-face {font-family: "iconfont";
  src: url('font/iconfont.eot?t=1516170119081'); /* IE9*/
  src: url('font/iconfont.eot?t=1516170119081#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.woff?t=1516170119081') format('woff'),
  url('font/iconfont.ttf?t=1516170119081') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont.svg?t=1516170119081#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before { content: "\e696"; }

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-cry:before { content: "\e69c"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-email:before { content: "\e69f"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-form:before { content: "\e6a2"; }

.icon-help:before { content: "\e6a3"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-pic:before { content: "\e6a8"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-search:before { content: "\e6ac"; }

.icon-selected:before { content: "\e6ad"; }

.icon-set:before { content: "\e6ae"; }

.icon-smile:before { content: "\e6af"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-icondownload:before { content: "\e714"; }

.icon-map:before { content: "\e715"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-skip:before { content: "\e718"; }

.icon-iconfontplay2:before { content: "\e719"; }

.icon-iconfontstop:before { content: "\e71a"; }

.icon-share:before { content: "\e71d"; }

.icon-store:before { content: "\e722"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-accountfilling:before { content: "\e732"; }

.icon-exl:before { content: "\e73f"; }

.icon-pdf:before { content: "\e740"; }

.icon-zip:before { content: "\e741"; }

.icon-hot:before { content: "\e756"; }

.icon-favorites:before { content: "\e7ce"; }

.icon-pic-filling:before { content: "\e802"; }

.icon-password:before { content: "\e82b"; }

.icon-folder:before { content: "\e83b"; }

.icon-code:before { content: "\e842"; }

.icon-good-filling:before { content: "\e866"; }

.icon-camera:before { content: "\e86e"; }

